*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
    list-style: none;
}
.container{
    border: 2px solid royalblue;
    padding: 1.5rem 1rem;
    line-height: 25px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
.show{
    display: none;
}
#btn{
    width: 60px;
    height: 30px;
    background: #555 ;
    color: #fff;
    border: 1px solid #333;
    margin-top: 20px;
}